{% extends 'base.html.twig' %}

{% block title %}
	Boutique - ajouter une adresse
{% endblock %}

{% block content %}
<h3>Ajouter une adresse</h3>
Ajout d'une adresse. Retour à
<a href="{{ path('app_account_adress') }}">Retour à mes adresses</a>

<hr>

{{form_start(form)}}
<div class="row">
	<div class="col-md-12">{{form_row(form.name)}}</div>
	<div class="col-md-6">{{form_row(form.firstname)}}</div>
	<div class="col-md-6">{{form_row(form.lastname)}}</div>
	<div class="col-md-6">{{form_row(form.company)}}</div>
	<div class="col-md-12">{{form_row(form.adresse)}}</div>
	<div class="col-md-4">{{form_row(form.country)}}</div>
	<div class="col-md-2">{{form_row(form.postal)}}</div>
	<div class="col-md-4">{{form_row(form.city)}}</div>
	<div class="col-md-2">{{form_row(form.phone)}}</div>
</div{{form_end(form)}} {% endblock %}
