{% extends 'base.html.twig' %}

{% block titre %}Homepage
{% endblock %}

{% block carousel %}
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% set i = 0 %}
			{% for item in carrousel %}
				{% if i ==  0%}
					<li data-target="#myCarousel" data-slide-to="{{i}}" class="active"></li>
				{% else %}
					<li data-target="#myCarousel" data-slide-to="{{i}}"></li>
				{% endif %}
				{% set i = i+1 %}
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% set i = 0 %}
			{% for item in carrousel %}
				{% if i ==  0%}
					<div class="carousel-item active" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/uploads/{{item.illustration}}'); background-size:cover;;)">
					{% else %}
						<div class="carousel-item" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/uploads/{{item.illustration}}'); background-size:cover;;)">
						{% endif %}
						<div class="container">
							<div class="carousel-caption">
								<h1>{{item.title}}</h1>
								<p>{{item.content}}</p>
								<p>
									<a class="btn btn-lg btn-primary" href="{{path(item.btnUrl)}}" role="button">{{item.btnTitle}}</a>
								</p>
							</div>
						</div>
					</div>
					{% set i = i+1 %}
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	{% endblock %}

	{% block content %}
		<!-- Marketing messaging and featurettes
																																																																																																																																																							    ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->
		<hr>
			<div
			class="container marketing mt-5"> <!-- Three columns of text below the carousel -->

			<h3>
				Nos meilleur ventes
			</h3>
			<p>
				Découvrez nos meilleurs ventes
			</p>
			<div class="row">
				{% for product in products %}
					<div class="d-flex col-md-3 ">
						{% include "product/one-product.html.twig" %}
					</div>
				{% endfor %}
				<!-- /.col-lg-4 -->
			</div>

			<!-- /.row -->


			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Des keycaps.
						<br>
						<span class="text-muted">Joli non ?</span>
					</h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5">
					<img class="img-fluid" src="{{asset('uploads/Koi-Artisan-Keycap-Turquoise.jpg')}}" alt="">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading">Encore des keycaps.
						<br>
						<span class="text-muted">Plutôt joli oui.</span>
					</h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5 order-md-1">
					<img class="img-fluid" src="{{asset('uploads/miracle-island-a-04-Copy.jpg')}}" alt="">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Et toujours des keycaps.
						<br>
						<span class="text-muted">Mais un peu inutile non ?</span>
					</h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5">
					<img class="img-fluid" src="{{asset('uploads/ArtisanKeycapsKoiNoir.webp')}}" alt="">
				</div>
			</div>

			<hr
			class="featurette-divider">

		<!-- /END THE FEATURETTES -->
		{% endblock %}
