<div class="product d-flex product-item text-center">
	<a class="image-custom" href="{{ path('app_product', {'slug' : product.slug} ) }}">
		<img class="image-custom" src="/uploads/{{ product.image }}" alt="{{ product.name }}" , class="img-fluid">
	</a>
	<div class="w-100">
		<h5 class="product-name">
			{{product.name}}
		</h5>
		<span class="product-subtitle">
			{{product.subtitle}}
		</span>
		<span class="product-price">{{ (product.price/100)|number_format(2, '.', ',') }}
			€
		</span>
	</div>
</div>
